.popup__container-form {
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0;
  display: flex;
  opacity: 1;
  justify-content: center;
  align-items: center;
}

.popup__form {
  display: flex;
  justify-content: center;
  align-content: center;
}

.popup__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  width: 430px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0.3);
}

.popup__button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
  align-self: flex-end;
  display: flex;
}

.popup__close {
  position: absolute;
  top: -36px;
  right: -36px;
  width: 40px;
  height: 40px;
}

.popup__close:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: 0.3s;
}

.popup__header {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2em;
  color: #1a1b22;
  width: fit-content;
  margin: 36px 0 0 36px;
}

.popup__main {
  width: 358px;
  height: 64px;
  background-color: #2f71e5;
  margin: 39px 35px 0 35px;
  padding: 0;
  border: none;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33em;
  text-align: center;
  color: white;
  border-radius: 100px;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
}

.popup__main:hover {
  opacity: 0.6;
  cursor: pointer;
}

.popup__main:disabled {
  background-color: #e6e8e8;
  color: #b6bcbf;
}

.popup__main:disabled:hover {
  opacity: 1;
  cursor: default;
}

.popup__other {
  width: 226px;
  margin: 16px 102px 28px 102px;
  padding: 0;
  border: none;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2em;
  text-align: center;
}

.popup__color {
  color: #2f71e5;
}

.popup__color:hover {
  opacity: 0.6;
  cursor: pointer;
}

.popup__leave {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .popup__container-form {
    align-items: flex-end;
  }

  .popup__fieldset {
    width: 320px;
    height: 500px;
    border-radius: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .popup__close {
    top: -40px;
    right: 16px;
    width: 24px;
    height: 24px;
  }

  .popup__header {
    margin: 28px 0 0 16px;
  }

  .popup__main {
    width: 288px;
    height: 44px;
    margin: 34px 16px 16px 16px;
  }

  .popup__other {
    margin: 16px auto 0 auto;
  }
}
